:root {
    --primary-color: #264653;
    --primary-color-rgb: rgb(38, 70, 83, 0.2);
    --text-color: #333;
    --alternate-color-1: #2A9D8F;
    --alternate-color-2: #F4A261;
    --primary-font: "Noto Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
}

a {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: underline 3px var(--alternate-color-1);
}

a:hover {
    text-decoration: underline 3px var(--alternate-color-2);
}

a:active {
    color: var(--alternate-color-2);
}

h1, h2, h3, h4 {
    text-align: center;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

img {
    border-radius: 6px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 0 1rem;
    width: 100%;
    position: relative;
}

header .logo {
    align-self: center;
}

header .logo img {
    height: 100px;
    width: auto;
}

#burgermenu {
	font-size: 1.5rem;
	border: 0;
	background: none;
 	position: absolute;
	top: 30px;
	right: 50px;
    color: white;
}

#burgermenu::before {
	content: "☰";
}

#burgermenu.open::before {
	font-size: 2rem;
    content: "x";
}

header .navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    display: none;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
}

.navigation a:hover {
    color: var(--alternate-color-2);
}

.navigation a:active {
    color: var(--alternate-color-2);
}

.open a {
    display: block;
}

section {
    padding: 2rem 1rem;
    max-width: 1024px;
    margin: 0 auto;
}

.action {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.action img {
    width: 100%;
}

.button {
    width: 100%;
    border: 1px solid #333;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 5px 5px 1px var(--alternate-color-1);
    padding: 1rem;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    border-radius: 6px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 5px 5px 1px var(--alternate-color-2);
    text-decoration: none;
}

.button:active {
    color:var(--alternate-color-2);
    transform: translateY(3px);
}

.biglink {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    color: var(--primary-color);
}

.biglink:active {
    color: var(--alternate-color-2);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background-color: #f9f9f9;
    border-radius: 6px;
    padding-bottom: 2rem;
}

.christina {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.christina img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.christina p, .biglink, h3 {
    padding: 0 1rem;
}

.behandlinger {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.behandlinger img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.behandlinger p, .biglink, h3, h4 {
    padding: 0 1rem;
}

.behandlinger .headings {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.behandlinger h4 {
    color: var(--primary-color);
}

.kontaktskjema {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input[type="text"],
input[type="email"],
[type="phone"] {
    width: 100%;
    padding: .75rem;
    display: block;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    border-top: 1px solid #666;
    border-radius: 6px;
    background-color: #f9f9f9;
}

form input[type="text"],
input[type="email"] {
    border-bottom: 0.5rem solid var(--alternate-color-2);
}

input[type="text"]:valid,
input[type="email"]:valid {
    border-bottom: 0.5rem solid var(--alternate-color-1);
}

form textarea {
    width: 100%;
    height: 120px;
    padding: .75rem;
    margin-bottom: 1rem;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    border-top: 1px solid #666;
    border-bottom: 0.5rem solid var(--alternate-color-2);
    border-radius: 6px;
    background-color: #f9f9f9;
}

form textarea:valid {
    border-bottom: 0.5rem solid var(--alternate-color-1);
}

form .star {
    color: red;
}

form .button {
    font-weight: 700;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 2rem;
    text-align: center;
}

footer a {
    color: white;
    font-weight: 400;
}

footer .linker {
    display: flex;
    flex-direction: column;
}

footer h3 {
    margin: 2rem 0 0.5rem 0;
}

@media screen and (min-width: 48rem) {

    p {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    a {
        font-size: 1.2rem;
    }

    .biglink {
        font-size: 1.5rem;
    }

    #burgermenu {
        display: none;
    }
    
    header {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    
    header .navigation {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: auto;
        margin-left: auto;
        min-width: 630px;
    }

    header .navigation a {
        flex: 1;
        text-align: center;
        color: white;
        text-decoration: none;
        display: block;
        font-size: 1rem;
    }

    header .navigation a:hover {
        color:var(--alternate-color-2);
        font-size: 1.2rem;
        font-weight: 800;
    }

    .navigation a:last-child {

    }

    section {
        margin: 2rem auto;
    }

    .action {
        display: grid;
        grid-template-columns: 3fr minmax(500px, 988px) 3fr;
        grid-template-rows: 1fr 0.5fr 0.7fr 0.8fr 1fr;
        background: url("../images/actionbg.webp") center/cover no-repeat;
        max-width: 100%;
        padding: 1rem 0;
        height: 700px;
        margin-top: 0;
    }

    .action img {
        display: none;
    }

    .action::before {
        content: "";
        background: white;
        grid-column: 2/3;
        grid-row: 2/5;
        border-radius: 6px;
        z-index: 1;
    }

    .action h1, p, .btn-container {
        grid-column: 2/3;
        z-index: 2;
        padding: 0 2rem;
    }

    .action h1 {
        grid-row: 2/3;
        padding-top: 2rem;
    }

    .action p {
        grid-row: 3/4;
    }

    .action .btn-container {
        grid-row: 4/5;
    }

    .christina {
        border-radius: 6px;
    }

    .christina .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 50px 120px 50px 1fr;
        padding-bottom: 0;
    }

    .christina .card img {
        grid-column: 1/2;
        grid-row: 1/6;
        border-top-right-radius: 0;
        border-bottom-left-radius: 6px;
    }

    .christina .card h3, p, .biglink {
        grid-column: 2/3;
    }

    .christina .card h3 {
        grid-row: 2/3;
    }

    .christina .card p {
        grid-row: 3/4;
    }

    .christina .card .biglink {
        grid-row: 4/5;
    }

    .behandlinger {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 6px;
    }

    .behandlinger h2 {
        grid-column: 1/3;
    }

    footer {
        padding-top: 1rem;
        padding-bottom: 10rem;
        flex-direction: row;
        justify-content: space-evenly;
    }
}