:root {
    --primary-color: #264653;
    --primary-color-rgb: rgb(38, 70, 83, 0.2);
    --text-color: #333;
    --alternate-color-1: #2A9D8F;
    --alternate-color-2: #F4A261;
    --primary-font: "Noto Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
}

.wide {
    display: none;
}

a {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: underline 3px var(--alternate-color-1);
}

a:hover {
    text-decoration: underline 3px var(--alternate-color-2);
}

a:active {
    color: var(--alternate-color-2);
}

h1 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

h4 {
    text-align: center;
    margin-bottom: 2rem;
}

img {
    border-radius: 6px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 0 1rem;
    width: 100%;
    position: relative;
}

header .logo {
    align-self: center;
}

header .logo img {
    height: 100px;
    width: auto;
}

#burgermenu {
	font-size: 1.5rem;
	border: 0;
	background: none;
 	position: absolute;
	top: 30px;
	right: 50px;
    color: white;
}

#burgermenu::before {
	content: "☰";
}

#burgermenu.open::before {
	font-size: 2rem;
    content: "x";
}

header .navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    display: none;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
}

.navigation a:last-child {
    padding-bottom: 2rem;
}

.navigation a:active {
    color: var(--alternate-color-2);
}

.open a {
    display: block;
}

main {
    margin: 0 auto;
    max-width: 1024px;
}

section {
    padding: 2rem 1rem;
}

.action {
    width: 100%;
}

.action h1 {
    margin-bottom: 2rem;
}

.action img {
    width: 100%;
}

.action-call {
    width: 100%;
    text-align: center;
}
.action-call p {
    padding: 2rem 0 2rem 0;
}

.button {
    width: 100%;
    border: 1px solid #333;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 5px 5px 1px var(--alternate-color-1);
    padding: 1rem;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    border-radius: 6px;
}

.button:active {
    color:var(--alternate-color-2);
}

.biglink {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    color: var(--primary-color);
}

.biglink:active {
    color: var(--alternate-color-2);
}

.info {
    width: 100%;
}

.info img {
    width: 100%;
    height: auto;
    display: block;
}

.christina
{
    background-color: var(--alternate-color-2);
} 

.christina .text {
    background: #f9f9f9;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.christina img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.text {
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.behandlingskort {
    width: 100%;
}

.be-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 2rem 0 1rem 0;
    margin-bottom: 1rem;
    border-radius: 6px;
}

.be-card h3 {
    text-decoration: underline 3px var(--alternate-color-2);
}

.be-card img {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.be-card .text {
    text-align: center;
}

.be-card p {
    padding-bottom: 2rem;
}

.be-card .biglink {
    margin: 0;
}

.kontaktskjema {
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
input[type="email"],
[type="phone"] {
    width: 100%;
    padding: .75rem;
    display: block;
    margin-bottom: 1rem;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    border-top: 1px solid #666;
    border-radius: 6px;
    background-color: #f9f9f9;
}

form input[type="text"],
input[type="email"] {
    border-bottom: 0.5rem solid var(--alternate-color-2);
}

input[type="text"]:valid,
input[type="email"]:valid {
    border-bottom: 0.5rem solid var(--alternate-color-1);
}

form textarea {
    width: 100%;
    height: 120px;
    padding: .75rem;
    margin-bottom: 1rem;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    border-top: 1px solid #666;
    border-bottom: 0.5rem solid var(--alternate-color-2);
    border-radius: 6px;
    background-color: #f9f9f9;
}

form textarea:valid {
    border-bottom: 0.5rem solid var(--alternate-color-1);
}

form .star {
    color: red;
}

form .button {
    font-weight: 700;
}

form .button:hover {
    text-decoration: underline 3px var(--alternate-color-2);
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 2rem;
    text-align: center;
}

footer a {
    color: white;
    font-weight: 400;
}

footer .linker {
    display: flex;
    flex-direction: column;
}

footer h3 {
    margin: 2rem 0 0.5rem 0;
}

@media screen and (min-width: 66rem) {
    
    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }
    
    p {
        font-size: 1.2rem;
    }

    .biglink {
        font-size: 1.4rem;
    }

    .mobile {
        display: none;
    }

    .wide {
        display: block;
    }

    section {
        margin-top: 2rem;
        border-radius: 6px;
    }

    label {
        font-size: 1.2rem;
    }

    .action img {
        max-width: 500px;
        padding: 2rem 0 2rem 0;
    }
}

@media screen and (min-width: 48rem) {

    #burgermenu {
        display: none;
    }
    
    header {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    
    header .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: auto;
        margin-left: auto;
        min-width: 600px;
    }

    header .navigation a {
        flex: 1;
        text-align: center;
        color: white;
        text-decoration: none;
        display: block;
    }

    header .navigation a:hover {
        color:var(--alternate-color-2);
        font-size: 18px;
        font-weight: 800;
    }

    .navigation a:last-child {
    padding-bottom: 0;
    }
    
    .christina .flex {
        display: flex;
        align-items: flex-start;
    }

    .christina img {
        width: 100%;
        max-width: 314px;
        height: auto;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 0;
    }

    .christina .text {
        text-align: center;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 0;
        border-top-right-radius: 6px;
    }

    .action .flex {
        display: flex;
        gap: 2rem;
        align-items: flex-start;
    }

    .action-call {
        align-self: center;
    }

    .action-call p {
        padding-top: 0;
    }

    .action h1 {
        margin-bottom: 0;
    }

    .action img {
        padding: 2rem 0 2rem 0;
    }

    .kort {
        display: flex;
        gap: 2rem;
    }

    .underline {
        display: none;
    }

    .behandlingskort {
        background-color: white;
    }

    .be-card {
        padding: 1rem;
        background: #f9f9f9;
        border-radius: 6px;
    }

}

@media screen and (min-width: 48rem) and (max-width: 66rem) {

    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1.1rem;
    }
    
    p {
        font-size: 1.1rem;
    }

    .biglink {
        font-size: 1.3rem;
    }

    section {
        padding: 5rem 2rem 5rem 2rem;
    }

    .action .flex {
        display: block;
    } 

    

}