* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr auto;
}

header {
    background-color: lightblue;
    padding: 10px 0px 50px 10px;
    grid-column: 1 / 3;
}

nav {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: pink;
    padding: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: black;
    text-decoration: yellow underline;
}


main {
    background-color: lightgreen;
    padding: 10px 0px 50px 10px;
    grid-column: 1 / 2;
}

aside {
    background-color: lightyellow;
    padding: 10px 10px 50px 10px;
    grid-column: 2 / 3;
}

footer {
    background-color: lightcoral;
    padding: 10px 0px 50px 10px;
    grid-column: 1 / 3;
}



