body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 20px;
    background-color: lightskyblue;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}